#alinhamento1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#alinhamento2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#alinhamento3{
    display: flex;
    flex-direction: column;
}